.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.centered-content-container {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  flex-direction: column;
}

.pointer {
  cursor: pointer;
}

.not-allowed-cursor {
  cursor: not-allowed;
}

/*****************************
  NAV
*****************************/
.margin-nav {
  margin-right: 2em;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 0.7);
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 0.75rem !important;
  padding-left: 0.75rem !important;
}

.bg-light {
  background-color: #ffffff !important;
}

nav {
  border-bottom: 1px solid #ffffff !important;
  margin-bottom: 20px;
  -webkit-box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
  -moz-box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
  box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
}

/*****************************
  SIGN IN
*****************************/
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#error-message {
  color: red;
}

/*********************
* Checkout
*********************/

.checkout {
  border: 2px solid;
  padding: 10px;
  border-radius: 15px;
}

.checkout-seller {
  margin-top: 0.5em;
  margin-left: 0.25em;
  margin-bottom: 0.5em;
}

.checkout-seller-name {
  float: right;
}

.checkout-seller-info {
  position: relative;
}

.bottom {
  position:absolute !important; 
  bottom:0 !important;
  right: 30px !important;
}
/**********************
* Pop Card
**********************/
.pop-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s;
  margin: 0.25em;
}

.static-pop-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 0.25em;
}

.home-pop-card {
  max-width: 23.25em;
  min-width: 23.25em;
}

.checkout-pop-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: .25em;
  max-width: 23.25em;
  min-width: 23.25em;
}

.browse-pop-card {
  max-width: 23.25em;
  min-width: 23.25em;
}

.pop-card-img {
  max-width: 25em;
  max-height: 21em;
  min-height: 21em;
}

.profile-pop-card {
  max-width: 20.25em;
  min-width: 20.25em;
}

/**********************
* Vertical Menu
**********************/

.vertical-menu {
  width: 200px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4caf50;
  color: white;
}

.error-words {
  color: red;
  font-style: italic;
}

.italic {
  font-style: italic;
}

.indented{
  margin-left: 4em;
}


/**********************
*Items
**********************/
.item-img {
  max-width: 3.5em;
  max-height: 3.5em;
  margin: .1em;
  border: solid;
  border-width: thin;
}

/********************
Item Loader smooth
********************/
.example-appear {
  opacity: 0.01;
}
.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

/****************
item grow when selected 
****************/

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
=======

/****************
* User Info
****************/

.change-password {
  max-width: 30em;
  align-items: center;
}

.change-password-form {
  margin: .25em;
}

/****************
* Navbar Sign-in
****************/
.margin-button {
  margin-left: .25em;
}

.form-control {
  box-shadow: none;		
  font-weight: normal;
  font-size: 14px;
}
.form-control:focus {
  border-color: crimson;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
.navbar .dropdown-menu {
  border-radius: 1px;
  border-color: #e5e5e5;
  box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .nav .dropdown-menu li {
  color: #999;
  font-weight: normal;
}
.navbar .nav .dropdown-menu li a, .navbar .nav .dropdown-menu li a:hover, .navbar .nav .dropdown-menu li a:focus {
  padding: 8px 20px;
  line-height: normal;
}
.navbar .navbar-form {
  border: none;
}
.navbar .dropdown-menu.form-wrapper {
  width: 280px;
  padding: 20px;
  left: auto;
  right: 0;
      font-size: 14px;
}
.navbar .dropdown-menu.form-wrapper a {		
  color: black;
  padding: 0 !important;
}
.navbar .dropdown-menu.form-wrapper a:hover{
  text-decoration: underline;
}

