.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.centered-content-container {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  flex-direction: column;
}

.pointer {
  cursor: pointer;
}

.not-allowed-cursor {
  cursor: not-allowed;
}

/*****************************
  NAV
*****************************/
.margin-nav {
  margin-right: 2em;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 0.7);
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 0.75rem !important;
  padding-left: 0.75rem !important;
}

.bg-light {
  background-color: #ffffff !important;
}

nav {
  border-bottom: 1px solid #ffffff !important;
  margin-bottom: 20px;
  -webkit-box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
  -moz-box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
  box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
}

/*****************************
  SIGN IN
*****************************/
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#error-message {
  color: red;
}

/*********************
* Checkout
*********************/

.checkout {
  border: solid;
}

/**********************
* Pop Card
**********************/
.pop-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s;
  margin: 0.25em;
}

.home-pop-card {
  max-width: 23.25em;
  min-width: 23.25em;
}

.browse-pop-card {
  max-width: 23.25em;
  min-width: 23.25em;
}

.pop-card-img {
  max-width: 25em;
  max-height: 21em;
  min-height: 21em;
}

/**********************
* Verical Menu
**********************/

.vertical-menu {
  width: 200px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4caf50;
  color: white;
}

.error-words {
  color: red;
  font-style: italic;
}
